<!DOCTYPE html>
<html>
<head>
	<title>test</title>
	<style type="text/css">
		body {
			display: flex;
		}
		td {
			vertical-align: top;
			text-align: left;
			border: 1px solid black;
			width: 50%;
			padding: 0px;
		}
		copy, p {
			padding: 5px;
			display: block;
			margin: 0px 0px;
		}
		p {
			background-color: #b9ff5a;
		}
		copy {
			background-color: #ff9081;
		}
		.tab {
			display:inline-block; 
			width: 30px;
		}
		#result {
			width: 30%;
		}
		#compare2file {
			width: 70%;
			height: 100%;
		}
		#filename > td {
		}
	</style>
</head>
<body>

<table id="result">
	<tr>
		<th>
			Result
		</th>
	</tr>
		<tr>
			<td>
				Folder is empty!
			</td>
		</tr>
</table>
<table id="compare2file">
</table>
</body>
</html>